# Archivos de credenciales
credenciales_gee.json

# Entorno virtual y temporales de Python
.venv/
venv/
__pycache__/
*.pyc
.env
.vscode

# Carpetas
/dumps
/documentos

# Archivos
generar_dump.py
crear_url.py
probar_conexion.py
credenciales_gee.json

# Respaldos
*.zip

